:root {
  font-family: Inter;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  color: black;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable; }
}
