.app{
    position: relative;
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app h2{
    color: white;
    font-size: 15em;
    cursor: default;
}

.effect{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent -100%, rgba(4.31,4.31,39,1) 20%);
}